.vscode/
.composer/
.git/
.gitattributes
.github/
.gitignore
**/.gitignore
**/.gitkeep
src/bootstrap/cache/*
src/database/*.sqlite
.env
CODE_OF_CONDUCT.md
docker-compose.yml
Dockerfile
.dockerignore
node_modules/
npm-debug.log*
.phpunit.result.cache
src/public/storage

src/storage/app/public/*
src/storage/debugbar/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
src/vendor/